@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Formation</h3>
<p>
    La formation est organisée en un certain nombre de modules selon la filière, le niveau et le mode de formation.
    Les durées, modes, niveaux, filières et horaires sont fixés par l'OFPPT conformément à la réglementation en vigueur.
    Les découpages de programmes de formation ainsi que les procédures d'évaluation sont portés à la connaissance des stagiaires par le biais d'affichage dans les lieux de formation.
    Les stagiaires ont l'obligation d'assister à tous les cours inscrits dans l'emploi du temps de la filière ainsi qu'aux épreuves d'évaluation. Les stagiaires doivent assister également aux séances d'information et activités annexes. De même, ils sont tenus d'être présents aux épreuves d'évaluation séquentielles intermédiaires et finales.
</p>
<h3>Stages</h3>
<p>
    Les stages de formation dans le milieu professionnel sont obligatoires. Ils peuvent se dérouler selon des périodes déterminées, dans le cadre de la Formation Professionnelle Alternée (FPA) ou d'autres modes de formation.
    Leur organisation se fait en étroite collaboration entre l'établissement et l'Entreprise d'accueil qui se mettent d'accord sur les modalités de formation.
    Les stagiaires sont tenus de respecter la réglementation au sein de l'entreprise d'accueil. Ils sont tenus également de rédiger un rapport à l'issue du stage et de le soumettre à la Direction de l'EFP.
</p>
<h3>Examens</h3>
<p>
    La formation est sanctionnée par des examens dont la périodicité varie selon l'organisation pédagogique et le niveau de formation.
    Les examens de fin de modules, de passage et de fin de formation sont régis par des notes de service émises par la Direction Générale, et ce conformément au règlement intérieur (en cours de révision) et des procédures d'évaluation en vigueur.
    Sanction de la formation
    La formation est sanctionnée par un diplôme établi en arabe et en français ou par un certificat.
    La moyenne exigée pour l'obtention du diplôme doit être supérieure ou égale à 10/20 (dix sur vingt).
    Une attestation d'arrêt de formation, précisant la durée de présence, est délivrée aux stagiaires ayant interrompu leur formation en cours de cycle.
    Passerelles
    Un système de passerelles régi par une circulaire ministérielle est mis en œuvre afin de permettre aux stagiaires les plus méritants d'accéder à des niveaux supérieurs.

</p>
<style>
    body {
        background-image: url('../../Content/Images/About.png');
        color: white;
    }
    p{
        max-width : 50%;
    }
</style>